@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --foreground-rgb: 24, 18, 43;
    --background-start-rgb: 57, 48, 83;
    --background-end-rgb: 99, 89, 133;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 0, 255, 64;
      --background-start-rgb: 15, 15, 15;
      --background-end-rgb: 34, 40, 49;
    }
  }

  body {
    @apply bg-gradient-to-br from-[#1F2022] from-20% via-[#2E3033] via-[83.7%] to-[#1F2022] to-100% max-md:w-screen max-[368px]:w-max;
    color: rgb(var(--foreground-rgb));
  }

  h1 {
    @apply text-2xl text-[#E4E6E1];
  }

  h2 {
    @apply text-xl text-[#958799];
  }

  h3 {
    @apply group-[.curr-head]:curr-head pt-[1rem] pb-[0.2rem] font-spectral text-2xl text-[#E5E1E6] max-md:text-xl max-sm:text-2xl; 
  }

  h4 {
    @apply group-[.curr-head]:curr-head font-quicksand text-xl text-[#E6E6E6] pt-[1rem] pb-[0.2rem] max-md:text-lg max-sm:text-xl;
  }

  h5 {
    @apply group-[.curr-head]:curr-head font-dosis py-[1rem] max-sm:text-[15px];
  }

  h6 {
  }
}

@layer components {
  .right-margin {
    @apply max-md:collapse grid sticky justify-self-center self-start top-0 w-full grid-cols-1 place-items-center md:max-lg:text-base lg:text-[1.07rem] text-[#53565A];
  }

  .body-augmented {
    @apply relative flex flex-col min-h-screen
  }
}

@layer utilities {
  main.body-layout {
    @apply md:grid relative grid-cols-[minmax(60%,70%),minmax(0%,30%)] text-[11px] mt-[3rem] place-items-center gap-[3rem] w-max mx-auto md:translate-x-[5rem] pb-[23rem];
  }

  .children-wrapper {
    @apply pb-[7.3rem];
  }

  .body-layout > *:nth-child(1) {
    @apply w-[43rem] max-sm:w-[23rem] sm:max-md:w-[31rem] md:max-lg:w-[33rem];
  }

  .body-layout > *:nth-child(2) {
    @apply w-full;
  }

  .sub-heading {
    @apply text-[#FF033E];
  }

  article.post {
    @apply relative flex flex-col;
  }

  .sub-heading div h2 {
    @apply text-balance px-8 max-sm:text-center;
  }

  article.post h1 {
    @apply max-w-max md:translate-x-[73px] max-sm:mx-auto;
  }

  .add-header {
    @apply relative bg-[#232D3F] rounded-[2px] p-4 m-2 rounded-tl-[11px] border-l-2 border-[#433D8B] text-[#c743ff] lg:text-[13px] sm:max-md:text-xs md:text-sm font-spectral;
    -webkit-mask-image: radial-gradient(circle at top left, transparent 1.07rem, black 1%);
    -webkit-mask-position: top left;
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
  }

  .add-header-mask {
    @apply absolute h-16 w-16 border-2 border-white z-20 bg-inherit;
    -webkit-mask-image: radial-gradient(circle, transparent 50%, black 51%);
    -webkit-mask-position: top left;
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
  }

  section div section div {
    @apply relative py-[1rem] font-spectral;
  }

  .primary-content section > p {
    @apply p-4;
  }

  hgroup div:nth-child(2) {
    @apply relative;
  }

  hgroup > div:nth-child(3) {
    @apply translate-y-[3.43rem] max-sm:translate-y-[5.17rem];
  } 

  .header-note {
    @apply w-8 h-8 z-10 absolute inline-flex top-0 left-0 absolute -translate-x-[0.3rem] -translate-y-[1.3rem] rounded-br-[1.3rem];
  }

  .primary-content {
    @apply text-[#E5E1E6] text-base max-sm:text-[11px] sm:max-md:text-[13px] font-dosis;
  }

  .curr-head {
    @apply text-yellow-400 underline underline-offset-[5px];
  }

  .curr-head a {
    @apply text-green-400;
  }

  #toc-list {
    @apply grid grid-cols-1;
  }

  section div section p {
    @apply group-[.curr-head]:curr-head;
  }

  .text-balance {
    text-wrap: balance;
  }
}
